.Icon {
  vertical-align: text-bottom;
  fill: currentColor;
}


.Button {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 30px;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
}
.search_input {
  height: 30px;
  border:none;
  outline: none;
  line-height: 30px;
  color: #1a1a1a;
  background: transparent;
}


.search_bar {
  position: relative;
  display: inline-block;
  width: 33%;
  height: 30px;
  padding: 3px 10px;
  font-size: 14px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: #eee;
}

.input_after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin: auto;
}

.SearchBar_searchIcon {
  position: absolute;
  top: -17px;
  right: -11px;
  bottom: -17px;
  padding: 0 12px;
  border: none !important;
  background: transparent !important;
}