.article_item{
  position: relative;
  padding: 16px 20px;
}
.content_title{
  margin-top:-4px;
  margin-bottom: -4px;
  font-size:18px;
  font-weight: 600;
  line-height: 2em;
  color:#1e1e1e;
}
.author_info{
  margin-bottom: 14px;
}
.author_info_user_image{
  display: inline-block;
  vertical-align: middle;
}
.author_info_content{
  display: inline-block;
  margin-left: 10px;
}
.article_content{
  color:#646464;
}
.article_info{
  padding: 10px 20px;
  margin: 0 -20px -10px;
  color: #999;
}
.get_detail{
    display: inline-block;
    padding: 0;
    margin-left: 4px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color:#06c;
}